main{
    height: 1211px;
    width: 100%;
    display: flex;
    flex-direction: row;

}

#titulo{
    font-size: 48px;
    color: #8915CE;
    text-align: justify;
    width: 100%;
    width: 1026px;
    z-index: 1;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 70px;
}
/* ESQUERDO MAIN */
#container-left-conteudo{
  width: 62%;
  height: inherit;
  flex-direction: column;
  padding: 50px;
}

.txt-ong-cnpj{
  text-align: justify;
  font-size: 40px;
  margin: auto;
  width: 730px;
}

#valor-doado{
  width: 518px;
  height: 51px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  margin: auto;
  margin-top: 100px;
}

#valorPix{
width: 283px;
height: inherit;
border-radius: 10px;
padding: 5px;
font-size: 26px;
border: 0;
box-shadow: 2px 2px 2px 1px rgba(55, 55, 55, 0.4);
}

#container-cadastro-cartao{
  height: 380px;
  width: 665px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  margin-top: 90px;
}

#container-cadastro-cartao label{
  height: 104px;
  width: inherit;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: space-evenly;
  font-weight: 200;
}

#container-cadastro-cartao label input{
  height: 47px;
  border-radius: 10px;
  padding: 5px;
  padding-left: 15px;
  font-size: 16px;
  border: 0;
  box-shadow: 2px 2px 2px 1px rgba(55, 55, 55, 0.4);
}

#container-date-cvv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#container-btn{
  display: flex;
  flex-direction: row;
  width: 534px;
  justify-content: space-between;
  margin:auto;
  margin-top: 25px;
}

button{
  background-color: #8915CE;
  border-radius: 20px;
  height: 71px;
  width: 248px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border: 0;
}

button:hover{
  cursor: pointer;
  background-color: #ae70d2;
}
/* FIM ESQUERO MAIN */
/* DIREITO MAIN */
#container-right-conteudo{
  width: 38%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end; 
}
#img-ong{
height: 130px;
width: 189px;
position: relative;
z-index: 1;
margin-top: -300px;
margin-right: 120px;
}
#txt-ball-ong{
margin-right: 100px;
margin-top: 20px;
font-size: 28px;
text-align: center;
}

#container-img-cartao{
  margin-top: 160px;
  margin-right: 50px;
}

#bandeira-cartao{
  height: 47px;
  width: 47px;
  border-radius: 50px;
  background-color: #ffffff;
  position: absolute;
  margin-top: -240px;
  margin-left: 20px;
}

#circulo{
  height: 23px;
  width: 23px;
  border-radius: 50px;
  border: solid 1px #fff;
  position: absolute;
  margin-top: -225px;
  margin-left: 80px;
}

#nome-cartao{
  font-size: 23px;
  color: #fff;
  position: absolute;
  margin-top: -55px;
  margin-left: 20px;
}

#validade-cartao{
  font-size: 23px;
  color: #fff;
  position: absolute;
  margin-top: -55px;
  margin-left: 370px;
}

#img-verso{
  margin-left: -30px;
}

#cvv{
  font-size: 23px;
  color: #fff;
  margin-top: -140px;
  margin-left: 320px;
}
/* FIM MAIN */
/* RODAPÉ */
footer{
    min-height: 222px;
    height: auto;
    width: 100%;
    background-color: var(--secundary);
    padding: 50px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #container-redes-sociais{
    width: 550px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-self: flex-start;
    justify-content: space-between;
  }

  #container-rodape{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
  }

  #container-rodape #btnDoar{
    background-color: var(--primary);
  }

  #txt-direitos{
    color: var(--fundo);
  }

  @media (max-width: 999px) {
    #container-rodape{
      flex-direction: column;
      height: 150px;
      margin-top: -50px;
    }

    #container-redes-sociais{
      width: 90%;
    }
    #img-logo{
      width: 200px;
    }
    #container-redes-sociais img{
      height: 40px;
      flex-direction: row;
      justify-content: space-around;
    }

    #txt-direitos{
      margin-bottom: 30px;
    }
  }