#container-conteudo {
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 1150px;
    width: 100%;
    align-items: center;
    background-color: #f6f6f6;
    font-family: "Karla", sans-serif;
}

h1 {
    width: max-content;
    height: 64px;
    text-align: center;
    font-size: 42px;
    font-family: "Karla", sans-serif;
    color: var(--secundary);
    margin-top: 30px;
    margin-bottom: 60px;
    border-bottom: solid 5px var(--secundary);
}

p {
    width: 85%;
    text-align: center;
    font-size: 22px;
    margin-bottom: 60px;
}

#container-cadastro-ong {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
/* lado esquerdo */
#container-esquerdo-cadastro {
    height: inherit;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin-top: -8px;
}

label {
    height: max-content;
    width: 672px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: space-evenly;
    font-weight: 200;
    margin-top: 35px;
}

select {
    height: 47px;
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    font-size: 16px;
    border: 0;
    box-shadow: 2px 2px 2px 1px rgba(55, 55, 55, 0.4);
}

label input {
    height: 47px;
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    font-size: 16px;
    border: 0;
    box-shadow: 2px 2px 2px 1px rgba(55, 55, 55, 0.4);
    background-color: #fff;
}

#txt-desc {
    height: 160px;
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    font-size: 16px;
    border: 0;
    box-shadow: 2px 2px 2px 1px rgba(55, 55, 55, 0.4);
}

.button-cadastrar {
    background-color: #8915CE;
    border-radius: 20px;
    height: 71px;
    width: 248px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-top: 17px;
    border: 0;
    margin-top: 25px;
    margin-left: 420px;
}

    .button-cadastrar:hover {
        cursor: pointer;
        background-color: #ae70d2;
    }

/* fim lado esquerdo */
/* lado direito */
#container-direito-cadastro {
    height: inherit;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#container-cep-numero {
    width: 672px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    #container-cep-numero label {
        width: 320px;
    }
/* fim do lado direito */
@media (max-width: 999px) {
    #container-rodape {
        flex-direction: column;
        height: 150px;
        margin-top: -50px;
    }

    #container-redes-sociais {
        width: 90%;
    }

    #img-logo {
        width: 200px;
    }

    #container-redes-sociais img {
        height: 40px;
        flex-direction: row;
        justify-content: space-around;
    }

    #txt-direitos {
        margin-bottom: 30px;
    }
}

/* SWITCH - LADO ESQUERDO */
#container-check {
    width: 100px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-top: -2.5px;
}

    .switch input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 21px;
        width: 21px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
    }

input:checked + .slider {
    background-color: #ae70d2;
}

    input:checked + .slider:before {
        transform: translateX(24px);
    }

#cpfCnpjInput {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
